* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

:root {
  --main-color : rgb(29, 174, 116)
}


.container {
  padding: 0 15px;
  margin: 0 auto;
}
li {
  list-style: none;
}

a {
  text-decoration:none;
}



/* small */
@media (min-width: 768px) {
  .container {
      width: 750px ;
  }
}
/* medium */
@media (min-width :992px ) {
  .container {
      width :970px 
  }
}
/* large */
@media (min-width:1200px) {
  .container {
      width: 1170px ;
  }

}

.container {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0 ;
  justify-content: center;
  width: 90vw;
}
.container .panel {
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-repeat: no-repeat;
  border-radius: 50px;
  flex: .5;
  margin: 10px; 
  transition: .5s flex ease-in;
  position: relative;
  cursor: pointer;
}
.container .panel:nth-child(1) {
  background-image: url(../images/benny-rotlevy-8eL8d0qDyJk-unsplash.jpg);
}
.container .panel:nth-child(2) {
  background-image: url(../images/cod-3.jpg);
}
.container .panel:nth-child(3) {
  background-image: url(../images/cod-4.jpg);
}
.container .panel:nth-child(4) {
  background-image: url(../images/code_2.jpg);
}
.container .panel.active {
  flex: 5
}
@media (max-width: 767px) {
  .container .panel:nth-child(3), .container .panel:nth-child(4) {
    display: none;
  }
  .container {
    width: 90vw
  }
}
.container .panel h1 {
  opacity: 0;
}
.container .panel.active h1 {
  color: white ;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 25px;
  opacity: 1;
  transition: .5s .3s;
}